.active {
    background-color: #c3c3c3;
    color: #000;
}

.navbar {
    background-color: #c3c3c3;
}

.navbar ul li {
    display: inline-block;

}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: red;
}

button.logout {
    background-color: transparent;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid red;
    margin-top: 1px;
    margin-bottom: 4px !important;
    border-radius: 10px;
}

button.login {
    background-color: red;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid red;
    margin-top: 1px;
    margin-bottom: 4px !important;
    border-radius: 10px;
}